.wsx--list--ol,
.wsx--list--ul {
  padding-left: var(--wsx--list--indent, 0.5cm);
}

.wsx--li {
  display: table;
}

.wsx--li--marker {
  display: table-cell;
  padding-right: var(--wsx--list--marker-spacing, 0.1cm);
}
