.wsx--li {
  text-indent: var(--wsx--list-indent, 1cm);
  &::before {
    margin-right: var(--wsx--list--marker-spacing, 1mm);
  }
}

.wsx--ul--items {
  &::before {
    content: var(--wsx--list--marker, "•");
  }
}

.wsx--ol--items {
  &::before {
    content: var(--wsx--ol--marker, "•");
  }
}
