.wsx--stack--child {
  display: table;
  margin-left: var(--wsx--stack--ml, auto);
  margin-right: var(--wsx--stack--mr, auto);

  &:not(:last-child) {
    margin-bottom: var(--wsx--stack--gap, 5mm);
  }
}