.h1::before,
.h2::before,
.h3::before,
.h4::before,
.h5::before,
.h6::before {
  float: left;
  clear: left;
}

.h1[data-marker]::before,
.h2[data-marker]::before,
.h3[data-marker]::before,
.h4[data-marker]::before,
.h5[data-marker]::before,
.h6[data-marker]::before {
  content: attr(data-marker);
}

.h1 {
  color: var(--h1-color, inherit);
  font-size: var(--h1-fontsize, inherit);
  counter-reset: count-h2 count-h3 count-h4 count-h5 count-h6;
  counter-increment: count-h1;
}

:where(.h1)::before {
  content: counter(count-h1, upper-roman) ". ";
}

.h2 {
  color: var(--h2-color, inherit);
  font-size: var(--h2-fontsize, inherit);
  counter-reset: count-h3 count-h4 count-h5 count-h6;
  counter-increment: count-h2;
}

:where(.h2)::before {
  content: counter(count-h2, decimal) ". ";
}

.h3 {
  color: var(--h3-color, inherit);
  font-size: var(--h3-fontsize, inherit);
  counter-reset: count-h4 count-h5 count-h6;
  counter-increment: count-h3;
}

:where(.h3)::before {
  content: counter(count-h3, upper-alpha) ". ";
}

.h4 {
  color: var(--h4-color, inherit);
  font-size: var(--h4-fontsize, inherit);
  counter-reset: count-h5 count-h6;
  counter-increment: count-h4;
}

:where(.h4)::before {
  content: counter(count-h4, decimal) ". ";
}

.h5 {
  color: var(--h5-color, inherit);
  font-size: var(--h5-fontsize, inherit);
  counter-reset: count-h6;
  counter-increment: count-h5;
}

:where(.h5)::before {
  content: counter(count-h5, lower-alpha) ". ";
}

.h6 {
  color: var(--h6-color, inherit);
  font-size: var(--h6-fontsize, inherit);
  counter-increment: count-h6;
}

:where(.h6)::before {
  content: counter(count-h6, lower-roman) ". ";
}
